<section class="article-series">
    <p>This article is part of the <strong><%= article.series %></strong> series.</p>

    <%- include("../articles.ejs", {articles: getSeries(articles, article.series).reverse(), q: `:${article.series}`}) %>
</section>
