<div class="baron_art">
	<img src="https://cdn.discordapp.com/attachments/626743491724312576/742094749598482900/Screen_Shot_2020-08-09_at_1.07.06_AM.png" alt="" loading="lazy">
	<img src="https://cdn.discordapp.com/attachments/626743491724312576/742094709458993203/Screen_Shot_2020-08-09_at_1.11.37_AM.png" alt="" loading="lazy">
	<img src="https://cdn.discordapp.com/attachments/626743491724312576/742094888140537866/Screen_Shot_2020-08-09_at_1.15.20_AM.png" alt="" loading="lazy">
</div>
