<span id="theme_switcher"><%- dark ? 'â˜€ï¸' : 'ðŸŒ•' %></span> <!-- â˜€ï¸ -->

<footer>
	<img src="/img/tophat.svg" alt="">
</footer>
<script src="/app.js" async="true"></script>
<script src="https://rawcdn.githack.com/mathusummut/confetti.js/87d44cde04fbdfc06c043bb1f7af832931afaf0a/confetti.min.js"></script>
<script>confetti.start(); setTimeout(() => confetti.stop(), 5000);</script>

</body>
</html>
