<span id="theme_switcher"><%- dark ? 'â˜€ï¸' : 'ðŸŒ•' %></span> <!-- â˜€ï¸ -->

<footer>
	<img src="/img/tophat.svg" alt="">
</footer>
<script src="/app.js" async="true"></script>

</body>
</html>
