<nav class="nav">
	<a class="nav-title" href="/">
		<img src="/img/tophat.svg" alt="">
		<h1>the snitch</h1>
	</a>

	<div class="nav-clickables">
		<div class="nav-clickables-socials">
			<a href="/discord"><img src="/img/socials/discord.svg" alt="Discord" style="transform: scale(1.2);"></a>
			<a href="https://twitter.com/snitchbcc"><img src="/img/socials/twitter.svg" alt="Twitter"></a>
			<a href="https://instagram.com/snitchbcc"><img src="/img/socials/instagram.svg" alt="Instagram"></a>
		</div>

		<div class="nav-clickables-links">
			<a href="/">Latest</a>
			<a href="/about">About</a>
			<a href="/series">Series</a>
			<a href="/local">Local</a>
			<a href="/politics">Politics</a>
			<a href="/culture">Culture</a>
			<a href="/contact">Contact</a>
		</div>
	</div>

	<div class="nav-opener" onclick="this.parentElement.classList.toggle('open')">
		<div></div>
		<div></div>
		<div></div>
	</div>
</nav>
