<div class="announcement">
	<span>The original <i>Snitch</i> website is now archived. You can find all new <i>Snitch</i> articles <a href="https://bcctattler.org/category/snitch/">here</a>.</span>
</div>

<%
	const p = getPath(req);
	const links = [
		["Latest", "/"],
		["About", "/about"],
		["Series", "/series"],
		["Local", "/local"],
		["Politics", "/politics"],
		["Culture", "/culture"],
		["Best Of", "/best-of"],
		["Topics", "/topics"],
		["Contact", "/contact"]
	];
%>

<nav class="nav">
	<div class="nav-brand">
		<img src="/img/combined_logo.svg" alt="Combined Logo">
		<p>Democracy bumps into things in darkness</p>
	</div>

	<div class="nav-socials">
		<a href="/discord"><img src="/img/socials/discord.svg" alt="Discord" style="transform: scale(1.2);"></a>
		<a href="https://twitter.com/snitchbcc"><img src="/img/socials/twitter.svg" alt="Twitter"></a>
		<a href="https://instagram.com/snitchbcc"><img src="/img/socials/instagram.svg" alt="Instagram"></a>
	</div>

	<div class="nav-links">
		<% for (const l of links) { %>
			<a href="<%- l[1] %>"<%- p == l[1] ? ' class="active"' : '' %>><%= l[0] %></a>
		<% } %>
	</div>

	<div class="nav-scroll">
		<span><strong>&uparrow;</strong> Tap and swipe side-to-side</span>
	</div>
</nav>
