<nav>
	<a id="nav_title" href="/">
		<img src="/img/tophat.svg" alt="">
		<h1>the snitch</h1>
	</a>

	<div id="nav_items">
		<a href="/">Latest</a>
		<a href="/about">About</a>
		<a href="/advice">Advice</a>
		<a href="/local">Local</a>
		<a href="/politics">Politics</a>
		<a href="/culture">Culture</a>
		<a href="/contact">Contact</a>
		<a href="/discord">Discord</a>
	</div>

	<div id="nav_opener" onclick="this.parentElement.classList.toggle('open')">
		≡
	</div>
</nav>
