<div class="people card-grid">
    <% for (const person of people) { %>
        <a href="/author/<%- slugify(person.name) %>" class="card">
            <div class="body">
                <h4 class="title"><%- person.name %></h4>
                <h5 class="subtitle"><%- person.tagline %></h5>
                <p class="excerpt"><%- person.description %></p>
            </div>
        </a>
    <% } %>
</div>
