<%- include("./partials/head.ejs", {title: "404 Not Found", dark}) %>
<%- include("./partials/nav.ejs") %>

<main>
	<h2>Uh Oh!</h2>

	<p>Hey! Yeah you! You landed on this goddamn page you complete and total non-web native. This is 100% your fault. Just use our site better next time you web colonizer. Also I'm just gonna rant here... You know this was just gonna redirect to the homepage, that is until Google forced me to make 404 pages actually return HTTP Code 404 in order to remove outdated pages/articles because Google's just too damn lazy to figure it out. I mean it's obviously a damn removed page if there's nothing there. But oh no that's not how it works at Google is it? Huh? Damn you Google!</p>

	<p><a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ">Click here to get what you deserve!</a></p>
</main>

<%- include("./partials/footer.ejs") %>
