<%- include("./partials/head.ejs", {title: "404 Not Found", dark}) %>
<%- include("./partials/nav.ejs") %>

<main>
	<h2>Uh Oh!</h2>

	<p>It seems that you've shattered this website's entire existence and found a way out of the Matrix!</p>

	<p><a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ">Click here to get what you deserve!</a></p>
</main>

<%- include("./partials/footer.ejs") %>
