<%- include("./partials/head.ejs", {title: "About", dark}) %>
<%- include("./partials/nav.ejs") %>

<main>
	<h2>About</h2>

	<p>
		<i>The Snitch</i> was created by our founder and God Emperor Dale Bell in October 2019. Dale recruited many early <i>Snitch</i> members who remained throughout; Bill Angell, a skilled writer; Caleb Levy and Benjy Eichner, two talented editors; and Auguste Rame, the programmer behind <i>The Snitch</i>'s website.
	</p>

	<p>
		<i>The Snitch</i> went through a "dry phase" in late 2019 and early 2020, but then COVID-19 hit, which allowed us to flex our web muscles and go on a recruiting binge, leading to the awesome and larger than ever <i>Snitch</i> teams of 2020-2021 and 2021-2022, which included writers Wren Buehler and Nicholas Daum, editors Hudson Yon and Evan Song, and illustrators Sebastián Valderrama and Natalie Weng.
	</p>

	<p>
		After Dale's graduation in 2021, Auguste and Caleb became Editors in Chief of <i>The Snitch</i>, working as little as ever.
	</p>

	<p>
		We passed the torch to Wren, our new Editor in Chief, who maintained and transformed <i>The Snitch</i> into an official school news column.
	</p>

	<p>
		This website remains as an archive of our prior work.
	</p>

	<h3>Our Alumni</h3>

	<%- include("./partials/people.ejs", {people}) %>
</main>

<%- include("./partials/footer.ejs") %>
