<%- include("./partials/head.ejs", {title: "Contact", dark}) %>
<%- include("./partials/nav.ejs") %>

<main>
	<h2>Contact</h2>
	
	<p><strong>We meet in Room F007 during lunch every Monday!</strong></p>

	<p>
		The simplest and best way to contact us is to <a href="/discord">join our Discord server</a>. Our Discord Server is also the best place to stay up-to-date on all things Snitch. If you're an extrovert, you can additionally hang out with the team and other B-CC students!
	<p>
			
	<p>
		If you wish to contact us in a more <i>official</i> capacity, you can email us at <code>contact [at] snitchbcc [dot] com</code>. You can also email me, Auguste, your friendly webmaster and the person who wrote this page at <code>aurame [at] snitchbcc [dot] com</code>.
	</p>

	<p>
		I end with the suggestion that you <a href="/discord">join our Discord server</a>. If two shameless plugs haven't convinced you, I don’t know what will.
	</p>
</main>
		
<%- include("./partials/footer.ejs") %>
