<!DOCTYPE html>
<html lang="en">
<head>
	<%- include("./partials/head.ejs", {title: "Contact"}) %>
</head>
<body>
	<%- include("./partials/nav.ejs") %>

	<main>
		<h2>Contact</h2>

		<p>
			The simplest and best way to contact us is to <a href="/discord">join our Discord server</a>. Our Discord Server is also the best place to stay up-to-date on all things Snitch. If you're an extrovert, you can additionally hang out with the team and other B-CC students!
		<p>

		<p>
			If you wish to contact us in a more <i>official</i> capacity, you can email us at <code>contact [at] snitchbcc [dot] com</code>. You can also email me, Auguste, your friendly webmaster and the person who wrote this page at <code>aurame [at] snitchbcc [dot] com</code>.
		</p>

		<p>
			If you're a teacher or administrator who dislikes an article we've written, or a new recruit that's willing to support our cause, you can come give us a visit at <i>4301 E W Hwy, Bethesda, MD 20814 - Room F007</i>.
			Sadly, with COVID, physically visiting us is out of the question, so why not <a href="/discord">join our Discord server</a>?
		</p>

		<p>
			I end with the suggestion that you <a href="/discord">join our Discord server</a>. If three forced plugs haven't convinced you, I don’t know what will.
		</p>
	</main>

	<%- include("./partials/footer.ejs") %>
</body>
</html>
