<%- include("./partials/head.ejs", {title: "Contact", dark}) %>
<%- include("./partials/nav.ejs") %>

<main>
	<h2>Contact</h2>
	
	<p>
		The simplest and best way to contact us is to <a href="/discord">join our Discord server</a>. Our Discord Server is also the best place to stay up-to-date on all things Snitch.
	<p>
</main>
		
<%- include("./partials/footer.ejs") %>
