$font-stack: "Inter var", "Inter", sans-serif;
$unicode-range: U+0000-007F,U+00A0-0100,U+0131,U+0152-0154,U+02BB-02BD,U+02C6,U+02DA,U+02DC,U+2000-200C,U+2010-2028,U+202F-2060,U+2074,U+20AC,U+2122,U+2191,U+2193,U+2212,U+FEFF;

@font-face {
	font-family: 'Inter var';
	font-style: normal;
	font-weight: 100 900;
	font-display: swap;
	src: url('/Inter-normal.woff2') format('woff2');
	unicode-range: $unicode-range;
	font-named-instance: 'Regular';
}

@font-face {
	font-family: 'Inter var';
	font-style: italic;
	font-weight: 100 900;
	font-display: swap;
	src: url('/Inter-italic.woff2') format('woff2');
	unicode-range: $unicode-range;
	font-named-instance: 'Italic';
}

%box {
	border-radius: 3px;

	transition: 0.2s box-shadow ease;
	box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.15);
}

%box-interactive {
	@extend %box;
	
	cursor: pointer;
	
	&:hover {
		box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15);
	}

	&:active {
		box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
	}
}

*::selection {
	color: white;
	background-color: black;
}

html, body {
	margin: 0;
	padding: 0;

	width: 100%;
	height: 100%;

	font-family: $font-stack;
}

@function dark-theme-gray($a: 1) {
	@return rgba(205, 205, 205, $a);
}

body {
	--body-color: black;
	color: var(--body-color);

	&.dark {
		--body-color: rgb(205, 205, 205);
		background-color: black;

		*::selection {
			color: black;
			background-color: orangered;
		}		

		a {
			color: orangered;
		}

		.nav {
			box-shadow: 0 0 5px dark-theme-gray(0.5);

			&-title>img {
				filter: invert(0.8);
			}

			&-clickables {
				background-color: black;

				&-links {
					&>* {
						color: var(--body-color);
					}
				}

				&-socials>* {
					filter: invert(0.8);
				}
			}
		}

		.search {
			background-color: dark-theme-gray(1);
		}

		.baron_art>* {
			filter: grayscale(0.5);
			opacity: 0.5;
		}

		%box {
			box-shadow: 0px 0px 7px dark-theme-gray(0.25);
		}

		.articles-list>a>div>span, .article>span, .people>*>h5 {
			color: dark-theme-gray(0.75);
		}

		.articles-load_more {
			box-shadow: 0px 0px 7px dark-theme-gray(0.25);
		}

		footer {
			background-color: dark-theme-gray(0.1);
		}
	}
}

.nav {
	position: relative;

	padding: 40px;

	box-shadow: 0 0 3px rgba(0, 0, 0, 0.25);

	&-title {
		text-decoration: none;

		&>img {
			width: 30px;
		}

		&>h1 {
			display: inline-block;
		
			margin: 0;
			margin-left: 5px;
		
			color: var(--body-color);
			font-size: 20pt;
		
			vertical-align: bottom;
		}
	}

	&-clickables {
		position: absolute;
	
		top: 50%;
		right: 40px;

		transform: translate(0, -50%);

		&-socials {
			display: flex;

			justify-content: flex-end;
			
			margin-bottom: 5px;
			
			&>* {
				margin-left: 10px;

				&>img {width: 25px; height: 25px;}
			}
		}

		&-links>* {
			margin-left: 20px;
		
			color: var(--body-color);
		
			font-size: 14pt;
			font-weight: 500;
			text-decoration: none;
		}
	}

	&-opener {
		display: none;
	
		position: absolute;
	
		top: 48px;
		right: 40px;
		
		font-size: 20pt;
		font-weight: 400;
	
		cursor: pointer;

		&>* {
			margin: 4px 0;

			width: 25px;
			height: 2px;

			background-color: var(--body-color);			  
		}
	}

	&.open {
		.nav-title, .nav-opener {
			position: absolute;

			transform: none;
		}

		.nav-clickables {
			opacity: 1;
			pointer-events: all;
		}
	}
}

@media only screen and (max-width: 1000px) {
	.nav, .nav {
		&-title, &-opener {
			z-index: 101;
		}

		&-opener {
			display: inline-block;
		}
		
		&-clickables {
			position: absolute;

			/* display: none; */
			opacity: 0;
			pointer-events: none;
	
			padding: 40px 20px;
	
			top: 40px;
			left: 0px;
			right: unset;
	
			margin-top: 40px;
	
			width: calc(100% - 40px);
			height: 100vh;
	
			transform: none;
	
			transition: 0.1s opacity linear;
			background-color: white;
	
			z-index: 100;
			user-select: none;

			&-socials {
				position: absolute;

				top: 45px;
				right: 20px;
			}

			&-links>* {
				display: block;
		
				margin-bottom: 10px;
				
				font-size: 20pt;
			}
		}
	}

	#top_right {
		display: none;
	}
}

main {
	position: relative;

	padding: 40px;
}

#top_right {
	position: absolute;

	right: 40px;
	top: 40px;

	z-index: 10;
}

#top_right .search {
	margin-left: 50%;

	width: calc(50% - 32px);

	font-family: $font-stack;
}

.baron_art {
	z-index: 1;
	transition: 0.2s transform ease-in-out;
}

.baron_art>* {
	border-radius: 3px;
	
	width: 200px;
	height: 100px;

	box-shadow: 0 0 2px rgba(0, 0, 0, 0.25);
	object-fit: cover;

	background-color: white;
}

@media only screen and (max-width: 1200px) {
	.baron_art>* {
		width: 150px;
		height: 75px;
	}
}

.search {
	margin-bottom: 10px;

	border: 1px solid rgb(173, 173, 173);
	border-radius: 3px;

	padding: 10px 14px;

	font-size: 14pt;
	font-family: $font-stack;
	font-weight: 600;

	outline: none;
}

h2 {
	position: relative;

	margin: 0;
	margin-bottom: 20px;

	font-size: 50pt;
	z-index: 5;
}

h3 {
	font-size: 35pt;
}

.tagline {
	position: relative;
	
	margin-bottom: 50px;

	font-size: 16pt;
}

.article, .quiz {
	&>h2 {
		margin-bottom: 10px;

		font-size: 35pt;
	}

	&>span {
		display: block;
		
		margin-top: 0;
		margin-bottom: 50px;

		color: rgba(0, 0, 0, 0.75);
		font-size: 20pt;
		font-weight: 600;
	}

	&-thumbnail {
		margin-bottom: 20px;
	
		border-radius: 3px;
	
		max-height: 200px;
	
		cursor: pointer;
		transition: 0.2s border-radius;

		&:hover {
			border-radius: 7px;
		}
	}

	&-series {
		// margin-top: 40px;

		// padding: 20px;
		
		// @extend %box;

		&>h3 {
			margin-bottom: 10px;
		}

		&>p {
			margin-top: 0;
			margin-bottom: 40px;
		}
	}

	@media only screen and (max-width: 500px) {
		h2 {
			font-size: 25pt !important;
		}
	
		h3 {
			font-size: 20pt;
		}
	
		.article-thumbnail {
			width: 100%;
			min-width: unset;
			max-height: unset;
		}
	}
}

.quiz {
	&-question {
		h3 {
			font-size: 24pt;
			font-weight: 600;
		}
	}

	&-choices {
		font-size: 14pt;

		user-select: none;

		&>* {
			display: block;

			border-radius: 3px;

			padding: 12.5px;

			color: black;
			cursor: pointer;

			&:hover {
				color: white;
				background-color: rgba(0, 0, 0, 0.75);
			}

			&.selected {
				color: white;
				background-color: black;
			}

			&>* {display: inline-block;}

			&>*:first-child {
				margin-right: 20px;

				border: 2px solid currentColor;
				border-radius: 100%;
				
				height: 30px;
				width: 30px;

				text-align: center;
				font-weight: bold;
				line-height: 30px;
			}
		}
	}

	&-content {
		@media only screen and (max-width: 500px) {
			h3 {
				font-size: 18pt;
			}
		}

		@media only screen and (max-width: 800px) {
			.quiz-choices>*>*:first-child {
				display: block;

				margin: 0;
				margin-bottom: 10px;

				height: 35px;
				width: 35px;
				line-height: 35px;
			}
		}
	}

	&-results {
		display: none;

		margin-top: 30px;

		&.visible {
			display: block;
		}

		&>h3 {
			margin: 0;
		}

		&>p {
			margin-top: 10px;
			margin-bottom: 30px;
		}

		&>.quiz-result {
			display: flex;

			margin-bottom: 10px;

			align-items: center;
			justify-content: space-between;

			&>span {
				font-size: 18pt;
				font-weight: 500;
			}
		}
	}
}

.progress {
	position: relative;
	display: inline-block;

	border-radius: 30px;

	width: 50%;
	height: 30px;
	
	overflow: hidden;
	background-color: #dadada;

	&-fill {
		position: absolute;

		top: 0;
		left: 0;

		height: 30px;

		background-color: black;

		&>span {
			position: absolute;

			top: 50%;
			right: 10px;

			color: white;
			font-weight: bold;

			transform: translate(0, -50%);
		}
	}
}

.articles {
	position: relative;

	&-list {
		display: grid;
		gap: 20px;
		grid-template-columns: 1fr 1fr 1fr;
		grid-auto-rows: 1fr;

		&>*:first-child {
			grid-row: 1;
			grid-column: 1;
		}

		&>* {
			position: relative;
		
			color: var(--body-color) !important;
			text-decoration: none;
		
			@extend %box-interactive;
		
			overflow: hidden;

			&>.ribbon {
				position: absolute;
			
				left: 0px;
				top: 20px;
			
				border-top-right-radius: 20px;
				border-bottom-right-radius: 20px;
			
				padding: 7px 14px;
			
				font-size: 8pt;
				font-weight: 700;
			
				pointer-events: none;
				background-color: gold;
			}

			&>img {
				display: inline-block;
			
				object-fit: cover;
			
				width: 100%;
				height: 250px;
			
				background-color: rgb(230, 230, 230);
			}

			&>div {
				padding: 40px;

				&>h3 {
					margin: 0;
				
					font-size: 18pt;
				}

				&>span {
					display: block;
				
					margin-top: 20px;
					margin-bottom: 0px;
				
					color: rgba(0, 0, 0, 0.75);
					font-size: 12pt;
					font-weight: 600;
				}
			}

			&.cartoon {
				&>img {
					object-fit: contain;
					background-color: white;
				}
			}
		}

		@media only screen and (max-width: 1200px) {
			grid-template-columns: 1fr 1fr;
		}

		@media only screen and (max-width: 700px) {
			grid-template-columns: 1fr;
		}
	}

	&-ad {
		display: block;

		margin: auto;
		margin-top: 20px;
		margin-bottom: 20px;
		border: 1px solid black;

		width: 50%;

		@media only screen and (max-width: 1200px) {
			width: 75%;
		}

		@media only screen and (max-width: 1000px) {
			width: 100%;
		}
	}

	&-load_more {
		display: block;

		margin-top: 20px;

		border: none;
		border-radius: 3px;

		padding: 12px 18px;

		width: 100%;

		color: var(--body-color);
		font-size: 20pt;
		text-align: center;
		font-weight: 700;
		font-family: $font-stack;

		cursor: pointer;
		outline: none;
		box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.25);
		transition: 0.2s box-shadow;
		background-color: transparent;

		&:hover {
			box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.25);
		}

		&:active {
			box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.25);
		}
	}
}

#theme_switcher {
	position: fixed;

	right: 20px;
	bottom: 20px;

	display: flex;

	border-radius: 100%;

	width: 50px;
	height: 50px;

	font-size: 20pt;
	font-family: sans-serif;
	line-height: 0;

	cursor: pointer;
	box-shadow: 0px 0px 7px rgba(0,0,0,0.5);
	transition: 0.2s box-shadow;
	align-items: center;
	user-select: none;
	-moz-user-select: none;
	-webkit-user-select: none;
	justify-content: center;
	background-color: black;

	&:hover {
		box-shadow: 0px 0px 7px rgba(0,0,0,1);
	}
}

footer {
	padding: 40px;

	background-color: black;
}

footer>img {
	width: 30px;
	filter: unquote("invert()");
}

.people {
	display: grid;
	gap: 20px;
	grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
	grid-auto-rows: 1fr;

	&>* {
		padding: 40px;
	
		@extend %box-interactive;

		&>h4 {
			margin: 0;
		
			font-size: 18pt;
		}

		&>h5 {
			margin-top: 0;
		
			color: rgba(0, 0, 0, 0.75);
			font-size: 14pt;
		}
	}

	@media only screen and (max-width: 415px) {
		grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr));
	}
}

// Elements
p, li {
	font-size: 14pt;
	line-height: 1.6;
}

code {
	font-weight: 700;
}

a {
	color: #3772FF;
}

hr {
	margin: 24px 0;

	border: 0;
	border-radius: 5px;

	padding: 0;

	height: .25em;
	
	background-color: black;
}
