/* @import url("https://rsms.me/inter/inter.css"); */
@font-face {
	font-family: 'Inter var';
	font-style: normal;
	font-weight: 100 900;
	font-display: swap;
	src: url('/Inter-normal.woff2') format('woff2');
	unicode-range: U+0000-007F,U+00A0-0100,U+0131,U+0152-0154,U+02BB-02BD,U+02C6,U+02DA,U+02DC,U+2000-200C,U+2010-2028,U+202F-2060,U+2074,U+20AC,U+2122,U+2191,U+2193,U+2212,U+FEFF;
	font-named-instance: 'Regular';
}

*::selection {
	color: white;
	background-color: black;
}

html, body {
	margin: 0;
	padding: 0;

	width: 100%;
	height: 100%;

	font-family: "Inter var", sans-serif;
}

nav {
	position: relative;

	padding: 40px;

	box-shadow: 0 0 3px rgba(0, 0, 0, 0.25);
}

#nav_title>img {
	width: 30px;
}

#nav_title {
	text-decoration: none;
}

#nav_title>h1 {
	display: inline-block;

	margin: 0;
	margin-left: 5px;

	color: black;
	font-size: 20pt;

	vertical-align: bottom;
}

#nav_items {
	position: absolute;

	top: 53%;
	right: 40px;

	transform: translate(0, -50%);
}

#nav_items>* {
	margin-left: 20px;

	color: black;

	font-size: 14pt;
	font-weight: 500;
	text-decoration: none;
}

#nav_opener {
	display: none;

	position: absolute;

	top: 52.5%;
	right: 40px;

	transform: translate(0, -50%);

	font-size: 20pt;
	font-weight: 400;

	cursor: pointer;
}

@media only screen and (max-width: 1000px) {
	#nav_title, #nav_opener {
		z-index: 101;
	}

	#nav_items {
		/* display: none; */
		opacity: 0;
		pointer-events: none;

		padding: 40px 20px;

		top: 40px;
		left: 0px;
		right: unset;

		margin-top: 40px;

		width: calc(100% - 40px);
		height: 100vh;

		transform: none;

		transition: 0.1s opacity linear;
		background-color: white;

		z-index: 100;
		user-select: none;
	}

	#nav_items>* {
		display: block;

		margin-bottom: 10px;
		
		font-size: 20pt;
	}

	#nav_opener {
		display: inline-block;
	}

	#top_right {
		display: none;
	}
}

nav.open #nav_title, nav.open #nav_opener {
	position: absolute;

	/* top: 40px; */
	transform: none;
}

nav.open #nav_items {
	opacity: 1;
	pointer-events: all;
}

main {
	position: relative;

	padding: 40px;
}

#top_right {
	position: absolute;

	right: 40px;
	top: 40px;

	z-index: 10;
}

#top_right .search {
	margin-left: 50%;

	width: calc(50% - 32px);
}

.baron_art {
	z-index: 1;
	transition: 0.2s transform ease-in-out;
}

.baron_art>* {
	border-radius: 3px;
	
	width: 200px;
	height: 100px;

	box-shadow: 0 0 2px rgba(0, 0, 0, 0.25);
	object-fit: cover;
}

@media only screen and (max-width: 1200px) {
	.baron_art>* {
		width: 150px;
		height: 75px;
	}
}

.search {
	margin-bottom: 10px;

	border: 1px solid rgb(173, 173, 173);
	border-radius: 3px;

	padding: 10px 14px;

	font-size: 14pt;
	font-family: "Inter";
	font-weight: 600;

	outline: none;
}

h2 {
	position: relative;

	/* display: inline-block; */

	margin: 0;
	margin-bottom: 20px;

	font-size: 50pt;
	z-index: 5;
}

h3 {
	font-size: 35pt;
}

.tagline {
	position: relative;
	
	margin-bottom: 50px;

	font-size: 16pt;
}

h2.article_title {
	margin-bottom: 10px;

	font-size: 35pt;
}

.article_authors {
	margin-top: 0;
	margin-bottom: 50px;

	color: rgba(0, 0, 0, 0.75);
	font-size: 20pt;
	font-weight: 600;
}

.article_series {
	margin-top: 40px;

	border-radius: 3px;

	padding: 20px;

	box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.15);
}

.article_series>p {
	margin-top: 0;
}

.article_series>div>* {
	margin-right: 10px;
	
	font-size: 15pt;
	text-decoration: none;
}

.article_series>div>.current {
	font-weight: 900;
}

p {
	font-size: 14pt;
	line-height: 1.6;
}

code {
	font-weight: 700;
}

a {
	color: #3772FF;
}

.article_thumbnail {
	margin-bottom: 20px;

	border-radius: 3px;

	max-height: 200px;

	cursor: pointer;
	transition: 0.2s border-radius;
}

.article_thumbnail:hover {
	border-radius: 10px;
}

@media only screen and (max-width: 500px) {
	.article_title {
		font-size: 25pt !important;
	}

	.article_authors {
		font-size: 15pt;
	}

	.article_thumbnail {
		width: 100%;
		max-height: none;
	}
}

.articles {
	display: grid;
	gap: 20px;
	grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
	grid-auto-rows: 1fr;
}

@media only screen and (max-width: 415px) {
	.articles {
		grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr));
	}
}

/* .articles::before {
	content: "";
	width: 0;
	padding-bottom: 100%;
	grid-row: 1;
	grid-column: 1;
} */

.articles>*:first-child {
	grid-row: 1;
	grid-column: 1;
}

.articles>* {
	border-radius: 3px;

	color: black;
	text-decoration: none;

	cursor: pointer;
	transition: 0.2s box-shadow ease;
	box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.15);
	overflow: hidden;
}

.articles>*:hover {
	box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15);
}

.articles>*>img {
	object-fit: cover;

	width: 100%;
	height: 140px;

	background-color: rgb(230, 230, 230);
}

.articles>*>div {
	padding: 40px;
}

.articles>*>div>h3 {
	margin: 0;

	font-size: 18pt;
}

.articles>*>div>span {
	display: block;

	margin-top: 20px;
	margin-bottom: 0px;

	color: rgba(0, 0, 0, 0.75);
	font-size: 12pt;
	font-weight: 600;
}

footer {
	padding: 40px;

	background-color: black;
}

footer>img {
	width: 30px;
	filter: invert();
}

.people {
	display: grid;
	gap: 20px;
	grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
	grid-auto-rows: 1fr;
}

.people>* {
	padding: 40px;

	cursor: pointer;
	transition: 0.2s box-shadow ease;
	box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.15);
}

.people>*:hover {
	box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15);
}

.people>*>h4 {
	margin: 0;

	font-size: 18pt;
}

.people>*>h5 {
	margin-top: 0;

	color: rgba(0, 0, 0, 0.75);
	font-size: 14pt;
}
